<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
</head>
<body>

            <form class="form-horizontal" th:action="@{/update}" method="post">
                <div class="form-group">
                    <label  class="col-sm-2 control-label">id</label>
                    <input type="hidden" name="userpswd" th:value="${admin.userpswd}"  />
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:value="${admin.id}" name="id">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:value="${admin.loginacct}" name="loginacct" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:value="${admin.username}" name="username" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:value="${admin.email}" name="email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">创建时间</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:value="${admin.createtime}" name="createtime" >
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                   <!-- <div class="col-sm-offset-2 col-sm-10">
                        <button type="reset" class="btn btn-primary">重置</button>
                    </div>-->
                </div>
            </form>

</body>
</html>