<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot.crud.mapper.AdminMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.springboot.crud.bean.TAdmin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loginacct" jdbcType="VARCHAR" property="loginacct" />
    <result column="userpswd" jdbcType="CHAR" property="userpswd" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="createtime" jdbcType="CHAR" property="createtime" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, loginacct, userpswd, username, email, createtime
  </sql>

  <select id="getAllAdmins" resultType="com.atguigu.springboot.crud.bean.TAdmin">
    select * from t_admin
  </select>

  <!-- 根据id查询出admin -->
  <select id="getAdminById" resultType="com.atguigu.springboot.crud.bean.TAdmin">
    select * from t_admin where id = #{id}
  </select>

  <!-- 修改admin -->
  <update id="updateAdmin">
    update t_admin set loginacct=#{loginacct},username=#{username},email=#{email},createtime=#{createtime},userpswd=#{userpswd} where id = #{id}
  </update>

  <!-- 删除 -->
  <delete id="deleteAdminById">
    delete from t_admin where id = #{adminId}
  </delete>

  <!-- 新增 -->
  <insert id="saveAdmin">
    insert into t_admin(loginacct,username,email,createtime,userpswd) values (#{loginacct},#{username},#{email},#{createtime},#{userpswd})
  </insert>

  <select id="selectByExample" parameterType="com.atguigu.springboot.crud.bean.TAdminExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_admin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

</mapper>